.circle-main-box {
  width: 60%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    @media (max-width: 768px) {
      font-size: 30px;
    }

    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  div:nth-child(2) > div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      top: 65%;
    }

    @media (max-width: 480px) {
      top: 50%;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  p {
    margin-top: 5px;
    color: white;
  }
}

.txt-btn-shape-box {
  h1 {
    width: 40%;
    height: 100px;
    font-size: 50px;

    @media (max-width: 480px) {
      display: none;
    }
  }
}

.tel-txt {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 5px;

  button {
    display: flex;
    align-items: center;
    background: blue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 10px 5px 10px;

    img {
      width: 24px;
      height: auto;

      @media (max-width: 480px) {
        display: none;
      }
    }

    p {
      margin: 0;
      padding-left: 10px;
      color: white;

      @media (max-width: 480px) {
        font-size: 14px;
        padding-left: 5px;
      }
    }
  }
}

.main-card-box1 {
  width: 100%;
  margin-top: 90px;

  .txt-cen {
    text-align: center;
  }

  .text-box-style {
    font-size: 25px;

    .box-shape {
      width: 55.2%;
      text-align: center;
      margin: auto;
    }
  }

  .grid-box {
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    padding-left: 50px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0;
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .img-round {
      width: 90%;
      height: 60px;
      border-radius: 20px;
      text-align: center;
      background-color: #1c1638;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
