.main-card-box,
.main-card-box1,
.main-card-box2,
.main-card-box3 {
  width: 100%;
  margin-top: 90px;

  .txt-cen {
    text-align: center;
  }

  .text-box-style {
    font-size: 25px;

    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  .card-main-container,
  .card-main-container1 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    width: 70%;
    height: auto;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      width: 90%;
    }

    .card-shape-box,
    .card-shape-box1,
    .card-shape-box2 {
      width: 100%;
      height: auto;
      background-color: #060b26;
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 20px;

      .lor-col {
        color: grey;
      }

      img {
        width: 100%;
        height: auto;
      }

      h2,
      p {
        margin: 10px 0;
      }
    }
  }
}

.main-card-box1 {
  .grid-box {
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-left: 50px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
     
      padding-left: 0;
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    div {
      text-align: center;
      img {
        width: 80%;
        height: auto;
      }
    }
  }
}

.main-card-box2,
.main-card-box3 {
  position: relative;

  .arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1a1239;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

    &.left,
    &.left1 {
      left: 75px;
    }

    &.right,
    &.right1 {
      right: 70px;
    }

    &:hover {
      background-color: darkgrey;
    }

    svg {
      display: block;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .txt-3d1 {
    width: 40%;
    font-size: 20px;
    margin: auto;

    @media (max-width: 768px) {
      width: 90%;
    }
  }
}
