.midsection {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  
  .top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 2%;
    border-radius: 30px;
    .power-image {
      z-index: 1; // Ensure it stays on top
    }

    .pos-eth {
      position: absolute;
      right: 2%;
      animation: float 3s ease-in-out infinite;
    }

    img {
      width: 100%;
      max-width: 940px;
    }
  }

  // Tablet view
  @media (max-width: 768px) {
    .top-box {
      .pos-eth {
        width: 50%;
        right: 5%;
      }
    }
  }

  // Mobile view
  @media (max-width: 480px) {
    .top-box {
      .pos-eth {
        display: none;
      }
    }
  }

  @media (max-width: 1200px) {
    .top-box {
      width: 80%;
      margin: auto;

      .pos-eth {
        width: 40%;
      }
    }
  }
}

// Keyframes for floating animation
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
