.navbar {
  background-color: #291451;
  border-radius: 30px;
  box-shadow: 0 0 0 0.5px rgb(255, 255, 255);
  margin: 60px auto 0;
  position: relative;
  width: 98%;

  &__container {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;

    @media (min-width: 769px) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    @media (min-width: 769px) {
      // flex-basis: auto;
      // margin-right: auto;
    }
  }

  &__links {
    display: none;

    @media (min-width: 769px) {
      display: flex;
      justify-content: center;
      // flex-grow: 1;

      a {
        color: white;
        text-decoration: none;
        margin: 0 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__actions {
    position: relative;

    & .navbar__button {
      background-color: white;
      border-radius: 19px;
      color: black;
      font-weight: 600;
      padding: 10px 25px 10px 15px;
    }

    & .navbar__icon {
      color: black;
      left: 80%;
      position: absolute;
      top: 30%;
    }
  }

  &__hamburger {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;

    @media (min-width: 769px) {
      display: none;
    }
  }

  &__dropdown {
    margin-top: 10px;
    background-color: #000000e4;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.874);
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 60px;
    width: 59%;
    z-index: 10;
    left: 20%;

    a,
    .navbar__button {
      color: white;
      margin: 10px 0;
      text-align: center;
      text-decoration: none;
    }

    .navbar__button {
      border-radius: 10px;
      color: white;
      margin: auto;
      // padding: 10px;
      width: 90%;
      background-color: transparent;
      border: none;
    }
  }

  @media (max-width: 777px) {
    &__links,
    &__actions {
      display: none;
    }

    &__container {
      justify-content: space-between;
    }

    &__logo {
      padding-left: 10px;
    }
  }
}
